
<ion-view view-title="Bem vindo">
    <ion-content scroll="true">
     <div class="saldacao-home">
        <h2>Bem-vindo Andre Junqueira</h2>
        <p>Seu saldo é de : 1000 hajs</p>
      </div>
      <hr>
      <p class="center"> Troque agora !</p>
      <img-carrossel 
         imgs="['img/secador.png','img/escova.png','img/bolsa.png','img/sapatilhas.png','img/relogio.png']" >
      </img-carrossel>
      <hr>
      <p class="center"> Falta pouco...</p>
        <img-carrossel 
         imgs="['img/secador.png','img/escova.png','img/bolsa.png','img/sapatilhas.png','img/relogio.png']" >
      </img-carrossel>
        <!--<td-cards>
          <td-card  ng-repeat="img in ['img/secador.png','img/escova.png','img/bolsa.png','img/sapatilhas.png','img/relogio.png'] track by $index" on-destroy="cardDestroyed($index)" on-swipe="cardSwiped($index)">
          <img ng-src="{{img}}" alt="">
        </td-card>
      </td-cards>-->
    </ion-content>
</ion-view>
